.answer-toggle-button {
  position: relative;
  border-radius: 100px;
  height: 80px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
