.answer-toggle-button {
  position: relative;
  border-radius: 100px;
  height: 80px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 20px;
    height: 66px;
  }

  @media (max-width: 640px) {
    font-size: 18px;
    height: 48px;
  }

  &.selected {
    color: black;
    opacity: 0.3;
  }
}
